<div class="container" role="main">
  <div class="row">
     <div class="col-12">

        <h2>Ecommerce Application</h2>
        <span>ecommerce app is running!</span>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/product"  routerLinkActive="active">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact"  routerLinkActive="active">Contact</a>
          </li>
        </ul>
       <router-outlet></router-outlet>
    </div> <!-- End  -->
  </div>  <!-- End  -->
</div> <!-- End  -->
